/*header, main, footer {*/
    /*padding-left: 300px;*/
/*}*/

/*@media only screen and (max-width : 992px) {*/
    /*header, main, footer {*/
        /*padding-left: 0;*/
    /*}*/
/*}*/

.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}

.ams {

}

.logo-bg {
    padding: 32px 32px 32px 32px !important;
}

.mainmenu-header-first {
    line-height: 28px;
    margin-top: 16px;
    font-weight: 500;
    text-align: center;
    display: block;
}

.mainmenu-header {
    line-height: 7px;
    margin-top: 4px;
    font-weight: 500;
    text-align: center;
    display: block;
}

.msyh {
    font-family: Microsoft Yahei !important;
    font-size: 1.1rem !important;
}

.monospace {
    font-family:Ubuntu Mono, DejaVu Sans Mono, Consolas, Monaco, Lucida Console, Liberation Mono, Bitstream Vera Sans Mono, Courier New, monospace !important;
}

.codename {
    font-size: 20px;
}

.version {
    font-size: 16px;
}

/*#toast-container {*/
    /*top: auto !important;*/
    /*right: auto !important;*/
    /*bottom: 10%;*/
    /*left: 45%;*/
/*}*/

.ams-maparea {
    text-align: center;
    border: 0;
}

.ams-mapline {
    display: inline-block;
}

.ams-mapblock {
    padding: 1px;
    font-size: calc((40vw / 10 / 5));
    overflow: hidden;
    white-space: nowrap;
    width:calc((40vw / 10) + 2px);
    height:calc((40vw / 10) + 2px);
    border:0;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);

}

.ams-mapblock-text {
    display: inline-block;
    vertical-align: middle;
}

.modal-size-big {
    width: 96% !important;
    height: 96% !important;
    max-height: 96% !important;
}

.modal-size-med {
    height: 80% !important;
    max-height: 80% !important;
    width: 80% !important;
}

.ams-button-table-action {
    width: inherit;
    display: inline-block;
    text-align: center;
    font-size: 1.6rem;
    line-height: 40px;
}

.progress-in-td {
    margin: 0;
    height: 10px;
}

td, tr {
    border-radius: 0 !important;
}

td, th {
    padding: 7px 5px !important;
}

.textbox-center {
    text-align: center;
}

#toast-container {
    max-height: 85%;
    overflow: auto;
}